
.title {
    font-size: 38px;
    /* align-content: center; */
    text-align: center;
}


.paragraph{
  font-size: 17px;
}

.highlight {
    background: linear-gradient(transparent 50%, #ffff66 0%);
    line-height: 1.3em;
    font-size: 30px;
}

.footer {
  width: 100%;
  height: 60px;
  text-align: center;
  bottom: 0px;
  left: 0px;
  color: black;
  font-size: 16px;
  position: relative;
  margin: 0px;
  padding: 0;
  border: 0;
}

.divborder{
  background-color: #FDFAEE ; padding: 12px; border-radius: 50px 20px;
}

.divborder2{
  background-color: #FDFAEE ; padding: 12px; border-radius: 50px 20px; text-align: center;
}
  
body{
  border: 0;
  margin: 0;
  padding: 0;
  background-size: 100%;
  background-image: url("asset/backgroundImage2.png");
  width: 100%;
}  

.container-fluid .main-container{
  padding: 0;
  border: 0;
  margin: 0;
}