
.title {
    font-size: 35px;
    /* align-content: center; */
    text-align: center;
    color: black;
}


.paragraph{
  font-size: 17px;
}

.highlight {
    background: linear-gradient(transparent 50%, #ffff66 0%);
    line-height: 1.3em;
    font-size: 30px;
    text-align: center;
}

.footer {
  width: 100%;
  height: 60px;
  text-align: center;
  bottom: 0px;
  left: 0px;
  color: black;
  font-size: 16px;
  position: relative;
  margin: 0px;
  padding: 0;
  border: 0;
  font-size: 17px;
}

.signup{
  background-color: #FDFAEE ;
  width:350px;
  padding:10px;
  border:3px red dashed;
  margin:30px;
  font-size: 17px;
  text-align: center;
}

.divborder{
  background-color: #FDFAEE ; padding: 12px; border-radius: 50px 20px;
}

.divborder2{
  background-color: #FDFAEE ; padding: 12px; border-radius: 50px 20px; text-align: center;
}
  
body{
  border: 0;
  margin: 0;
  padding: 0;
  background-size: 100%;
  width: 100%;
}  




.vtl {
  /* Relative is necessary to properly position the child elements within */
  position: relative;
  /* More space for the vertical line to the left */
  padding: 10px 10px 10px 50px;
  /* Width restriction if you want */
  max-width: 320px;
}

/* [VERTICAL LINE] */
.vtl::before {
  content: '';
  width: 5px;
  background-color: #DE421A;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
}

.ewrap {
  padding: 10px 0;
  position: relative;
  width: 100%;
}

/* [EVENT ITSELF] */
.event {
  padding: 20px 30px;
  background-color: #caf2f2;
  position: relative;
  border-radius: 6px;
}

/* [THE DATE & TEXT] */
.text {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-align: center;
}


.ewrap::before {
  content: '';
  border: 10px solid transparent;
  border-right-color: #caf2f2;
  border-left: 0;
  position: absolute;
  top: 20%;
  left: -10px;
}

/* [ADD CIRCLE ON VERTICAL LINE] */
.ewrap::after {
  content: '';
  background: #fff;
  border: 4px solid #DE421A;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  position: absolute;
  top: 20%;
  left: -40px;
}

#timelineL{
  float: left;
  width:60%;
  padding-left: 40px;
}

#timelineR{
  float: left;
  text-align: center;
}